# ==============================================
# Ticket bot general settings
# ==============================================

default_embed_color: "#2FF200" # The default embed color
logs_channel_id: "111111111111111111" # The ID of the logs channel
transcripts_channel_id: "111111111111111111" # The ID of the transcripts channel
support_role_ids: ["111111111111111111"] # The IDs of the staff roles on your server, for example ["000000000000000000", "111111111111111111"]
commands_cooldown: "5" # The cooldown of commands in seconds
buttons_cooldown: "5" # The cooldown of buttons in seconds
maxOpenTickets: "1" # The maximum number of open tickets a user can have at one time
deleteTicketTime: "5" # The time in seconds before a ticket is deleted
claimButton: false # Enable or disable the claim button/feature
pingRoles: false # Enable or disable pinging roles when a ticket is opened
ping_role_ids: [] # The IDs of the roles you want to ping when a ticket is opened, for example ["000000000000000000", "111111111111111111"]
status:
  botActivityText: "Support Tickets" # The activity message of the bot
  botActivityType: "Watching" # The activity type of the bot, can be "Playing", "Streaming", "Listening", "Watching", "Competing"
  streamingOptionURL: "" # The URL in case you use the streaming option
  botStatus: "online" # The status of the bot, can be "online", "idle", "dnd", "invisible", note that the streaming type requires the "online" status

# ==============================================
# Ticket Category settings
# ==============================================

# The limit set by discord is 25, though it is highly recommended not to use such a high amount of types considering each types uses 2 categories and the discord limit is 50 categories, you would no longer have categories left to use for your normal discord channels...
TicketCategories:
  - id: 1 # Unique ID for each category, ONLY USE NUMBERS (It is suggested to just increment this value by 1 each time)
    name: "report" # The name of the category, it will be in lowercase anyways
    categoryID: "111111111111111111" # The ID of the category where those tickets will be created
    closedCategoryID: "111111111111111111" # The ID of the category where the closed tickets will go
    buttonEmoji: "👮" # The emoji of the type
    buttonLabel: "Report a user" # The name of the button
    buttonStyle: "Success" # Options: "Primary" which is blurple, "Secondary" which is grey, "Success" which is green, "Danger" which is red and do NOT use "Link"
    embedTitle: "Report Ticket" # The title of the embed
    color: "#FFD700" # The color of embed in the opened ticket
    description: "Welcome to your report ticket! Please be patient while a staff member responds to your report." # The description of the embed in the created ticket, right above the questions fields
    ticketName: "TICKETCOUNT" # Can be USERNAME or TICKETCOUNT, will be called name-ticketName such as "report-12348"
    modalTitle: "User Report Format" # The title of the modal
    questions: # Maximum number of questions is 5, you should at least keep 1 question since that information will always help you in any ticket
      - label: "What is your username?"
        placeholder: "Write your username"
        style: "Short" # Short or Paragraph
        required: true # If this input is required or not, can be true or false
        minLength: 3 # Set the minimum number of characters required for submission
      - label: "Reported username?"
        placeholder: "Write their username"
        style: "Short"
        required: true
        minLength: 3
      - label: "Why are you reporting them?"
        placeholder: "Explain with details"
        style: "Paragraph" 
        required: true
        minLength: 50
  - id: 2 # Unique ID for each category
    name: "other"
    categoryID: "111111111111111111" # The ID of the category where those tickets will be created
    closedCategoryID: "111111111111111111" # The ID of the category where the closed tickets will go
    buttonEmoji: "🤔" # The emoji of the type
    buttonLabel: "Other" # The name of the button
    buttonStyle: "Primary" # Options: "Primary" which is blurple, "Secondary" which is grey, "Success" which is green, "Danger" which is red and do NOT use "Link"
    embedTitle: "Other Ticket" # The title of the embed
    color: "#ADD8E6" # The color of embed in the opened ticket
    description: "Welcome to your other ticket! Please be patient while a staff member responds to your questions." # The description of the embed in the created ticket, right above the questions fields
    ticketName: "USERNAME" # Can be USERNAME or TICKETCOUNT
    modalTitle: "Other Ticket Format" # The title of the modal
    questions: # Maximum number of questions is 5, you should at least keep 1 question since that information will always help you in any ticket
      - label: "What is your question?"
        placeholder: "Write your question"
        style: "Paragraph" # Short or Paragraph
        required: true # If this input is required or not, can be true or false
        minLength: 10 # Set the minimum number of characters required for submission


# ==============================================
# Slash commands settings
# ==============================================

# You can disable a command by setting enabled: false for any of them, although it's recommended you keep all of them enabled
# For information regarding what options you have as permissions for each command, check out this link: https://discord.com/developers/docs/topics/permissions#permissions-bitwise-permission-flags
commands:
  add:
    enabled: true
    permission: "KickMembers"
    embed:
      color: "2FF200"
      description: "Added **{user} ({user.tag})** to the ticket." # Use {user} for the username of the member and {user.tag} to have the member tagged
    LogEmbed:
      color: "2FF200"
      title: "Ticket Logs | User Added"
      field_staff: "• Staff"
      field_user: "• User"
      field_ticket: "• Ticket"
  alert:
    enabled: true
    permission: "KickMembers"
    embed:
      color: "2FF200"
      title: "Ticket Close Notification"
      description: "This ticket will be closed soon if no response has been received."
  close:
    enabled: true
    permission: "KickMembers"
    embed:
      color: "#FF2400"
      title: "Ticket Closed"
      description: "This ticket was closed by **{user} ({user.tag})**" # Use {user} for the username of the staff and {user.tag} to have the staff tagged
    LogEmbed:
      color: "#FF2400"
      title: "Ticket Logs | Ticket Closed"
      field_staff: "• Closed By"
      field_user: "• Ticket Creator"
      field_ticket: "• Ticket"
  delete:
    enabled: true
    permission: "KickMembers"
    embed:
      color: "#FF0000"
      description: "Deleting ticket in {time} seconds" # Use {time} for the time in seconds
    LogEmbed:
      color: "#FF0000"
      title: "Ticket Logs | Ticket Force Deleted"
      field_staff: "• Deleted By"
      field_user: "• Ticket Creator"
      field_ticket: "• Ticket"
  panel:
    enabled: true
    permission: "ManageChannels"
    embed:
      color: "2FF200" # The color of the panel embed
      title: "Support Tickets" # The title of the panel embed
      description: "To create a support ticket, click on one of the buttons below depending on what help you need." # Use \n to create a new line for this embed description if needed
      footer_msg: "Sentinel Tickets" # Footer message
      footer_icon_url: "" # The link to the image in the footer
  remove:
    enabled: true
    permission: "KickMembers"
    embed:
      color: "#FF0000"
      description: "Removed **user (user.tag)** from the ticket." # Use {user} for the username of the member and {user.tag} to have the member tagged
    LogEmbed:
      color: "#FF0000"
      title: "Ticket Logs | User Removed"
      field_staff: "• Staff"
      field_user: "• User"
      field_ticket: "• Ticket"
  rename:
    enabled: true
    permission: "KickMembers"
    embed:
      color: "#2FF200"
      description: "This ticket has been renamed to **{name}**!" # Use {name} for the new channel name
    LogEmbed:
      color: "#2FF200"
      title: "Ticket Logs | Ticket Renamed"
      field_staff: "• Staff"
      field_oldname: "• Ticket Old Name"
      field_newname: "• Ticket New Name"
  blacklist:
    enabled: true
    permission: "KickMembers"
    embedFailed:
      color: "#2FF200"
      description: "**{user} ({user.tag})** is already in the blacklist." # Use {user} for the username of the member and {user.tag} to have the member tagged
    embedSuccess:
      color: "#2FF200"
      description: "**{user} ({user.tag})** has been added to the blacklist." # Use {user} for the username of the member and {user.tag} to have the member tagged
  unblacklist:
    enabled: true
    permission: "KickMembers"
    embedFailed:
      color: "#2FF200"
      description: "**{user} ({user.tag})** is not currently in the blacklist." # Use {user} for the username of the member and {user.tag} to have the member tagged
    embedSuccess:
      color: "#2FF200"
      description: "**{user} ({user.tag})** has been removed from the blacklist." # Use {user} for the username of the member and {user.tag} to have the member tagged
  ping:
    enabled: true
    permission: "KickMembers"
  stats:
    enabled: true
    permission: "KickMembers"

# ==============================================
# General button settings
# ==============================================

closeButton:
  label: "Close" # The label of the button
  emoji: "🔒" # The emoji of the button
  style: "Danger" # Options: "Primary" which is blurple, "Secondary" which is grey, "Success" which is green, "Danger" which is red and do NOT use "Link"

reOpenButton:
  label: "Reopen" # The label of the button
  emoji: "🔓" # The emoji of the button
  style: "Success" # Options: "Primary" which is blurple, "Secondary" which is grey, "Success" which is green, "Danger" which is red and do NOT use "Link"

transcriptButton:
  label: "Transcript" # The label of the button
  emoji: "📝" # The emoji of the button
  style: "Primary" # Options: "Primary" which is blurple, "Secondary" which is grey, "Success" which is green, "Danger" which is red and do NOT use "Link"
  
deleteButton:
  label: "Delete" # The label of the button
  emoji: "⛔" # The emoji of the button
  style: "Danger" # Options: "Primary" which is blurple, "Secondary" which is grey, "Success" which is green, "Danger" which is red and do NOT use "Link"

# ==============================================
# User Leave Settings
# ==============================================

# In this section you can adjust settings related to the embed that gets sent in a ticket if the ticket creator left the discord server
userLeftEmbed:
  embed_color: "#FF0000" # The color of the embed
  embed_title: "User left the server" # The title of the embed
  embed_description: "The user {user} left the server" # You can use {user} as a placeholder for the username of the member who left & \n for a new line

# ==============================================
# Misc Locale
# ==============================================

errors:
  not_in_a_ticket: "You are not in a ticket channel!" # Error displayed when a user tries to use a command in a non-ticket channel
  not_allowed: "You are not allowed to use this command!" # Error displayed when a user tries to use a staff-only command
  blacklisted: "You are blacklisted from creating tickets at this time." # Error displayed when a user tries to create a ticket but is blacklisted

cooldownEmbed:
  title: "Cooldown"
  color: "#FF0000"
  description: "You have to wait **${time}** seconds before clicking this button!" # Use {time} for the remaining cooldown time in seconds

maxOpenTicketsEmbed:
  title: "Maximum Tickets Open"
  color: "#FF0000"
  description: "You may only have **${max} ticket(s)** open at a time." # Use {max} for the maximum number of tickets that can be opened at once